@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Poppins:wght@300;400;600&display=swap');

body{
    background-color: #a5c1de;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}
#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 3px;
    width: 230px;
    border: 1px solid #666565;
    box-shadow: 2px 5px 10px black, 0px 10px 30px black;
}

#output{
    width: 96%;
    height: 50px;
    margin-bottom: 3px;
    padding: 3px;
    background: linear-gradient(135deg, #646464 0%,#0e0e0e 100%); 
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    border: 1px solid rgb(39, 39, 39);
    border-bottom: none;
    overflow: hidden;
}
#formula{
    height: 15px;
    text-align: right;
    color: #5cacfc;
    font-size: 12px;
    text-shadow: 1px 1px 3px black;
}
#display{
    height: 30px;
    text-align: right;
    color: white;
    font-size: 26px;
    text-shadow: 1px 2px 4px black;
}

#buttons{
    display: flex;
    justify-content: center;
}

.operator-container{
    width: 25%;
    margin: 0;
    
}
.number-container {
    justify-self: center;
    width: 75%;
    margin: 0;
}
.number-container button{
    margin-left: 2px;
}

button{
    width: 55px;
    height: 50px;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 1px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
    border: 0.5px solid grey;
}
button:active{
    transform: scale(0.97);
    outline: none;
}
button:focus{
    outline: none;
}

button.light-grey{
    background-color: #3a3a3a;
}
button.dark-grey {
    background-color: #2c2c2c;
}
button.red {
    background: linear-gradient(135deg, #f6290c 7%,#f85032 27%,#d85945 39%,#e73827 57%,#e44732 67%,#eb5f4c 79%,#cf5947 95%,#dd4b35 95%);
    text-shadow: 1px 1px 3px black;
}
button.blue {
    background: linear-gradient(135deg, #6db3f2 0%,#2368b3 69%,#07419e 100%);
    text-shadow: 1px 2px 4px black;
}
button.span-h{
    width: 112px;
}
button.span-v {
    height: 101px;
}

#delete{
    color: #1f66ad;
    background: linear-gradient(135deg, #2b2a2a 15%, #4e4e4e 35%, #2b2a2a 65%, #383838 100%);
    text-shadow: 1px 2px 4px black;
}

#author{
    margin-top: 20px;
    margin-left: 130px;
    font-size: 10px;
    color: #113355;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #113355;
    font-size: 10px;
    margin-top: 0;
    text-shadow: 2px 2px 3px rgb(61, 96, 175);
}
a:hover{
    text-transform: capitalize;
}
p{
    margin: 0;
    text-align: end;
}